header {
  background-color: #33547E;
}

.logo {
  float: left;
  margin-left: .5em;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 3.5em;
  color: white;
}
.nav {
  float: right;
  margin-right: .8em;
  margin-top: 1.9em;
}

header li {
  float: left;
  list-style: none;
  margin: 0px 15px 0px 15px;
  padding: 5px;
  border: .12em solid white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

header a {
  text-decoration: none;
}

header a:visited {
  color: white;
}

header a:hover {
  color: #94ACCC;
}

main {
  clear: both;
  background-color: #D4D7DA;
}

.text {
  margin-right: 16%;
  margin-left: 16%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 1.5em;
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: white;
  box-shadow: 5px 2px 18px 1px #94ACCC;
  color: #333333;
}

.text h1 {
  margin-bottom: -.7em;
  margin-top: -.1em;
}

.text p {
  font-size: 1.5em;
}

.text h4 {
  font-size: 1em;
  color: #757575;
}

hr {
    display: block;
    -webkit-margin-before: 1.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    box-sizing: border-box;
}

main nav ul {
  padding-top: .5em;
}

main nav li {
  display: inline-block;
  list-style: none;
  padding-right: 2.2em;
}


.portrait {
  border-radius: 50% 50%;
  margin-left: 37%;
}

.social {
  height: 5em;
  background-color: #D4D7DA;
  text-align: center;
  padding-bottom: 4em;
}

footer {
  clear: both;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #92ABCC;
  color: #333333;
}

/* reusable code */

a {
  color: #023F8E;
  text-decoration: none;
}
a:hover {
  color: #94ACCC;
}

/* dev ideas from normalize.css */

body {
  margin: 0;
}


/* dev ideas from J. Ky Marsh */

.debug {
    border: 1px solid violet;
}

.row {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    float: left;
}

.span-1 {  width: 8.333%; }
.span-2 {  width: 16.666%; }
.span-3 {  width: 25%; }
.span-4 {  width: 33.333%; }
.span-5 {  width: 41.666%; }
.span-6 {  width: 50%; }
.span-7 {  width: 58.333%; }
.span-8 {  width: 66.666%; }
.span-9 {  width: 75%; }
.span-10 { width: 83.333%; }
.span-11 { width: 91.666%; }
.span-12 { width: 100%; }

ul, ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }
