header {
  background-color: #33547E;
  position: fixed;
}

.logo {
  float: left;
  padding-left: 0.5em;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 3.5em;
  color: white;
}
.nav {
  float: left;
  text-align: center;
  padding-left: 3.5em;
}

header li {
  float: left;
  list-style: none;
  padding: 1.8em 1.2em 1em 1.2em;
  /*border: .12em solid #FFFFFF;*/
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #FFFFFF;
}

/*header li:after {
    content: "\2022";
    font-size: 1em;
    padding: 0em .6em 0em .6em;
}*/
header li:first-child {
    padding-left: 4em;
}

header a:link {
  text-decoration: none;
  color: #FFFFFF;
}

header a:visited {
  color: #FFFFFF;
}

header a:hover {
  color: #94ACCC;
}

main {
  clear: both;
  background-color: #D4D7DA;
}

.text {
  margin-right: 16%;
  margin-left: 16%;
  margin-bottom: 2%;
  margin-top: 10%;
  padding: 1.5em;
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #FFFFFF;
  box-shadow: 5px 2px 18px 1px #94ACCC;
  color: #333333;
}

.text h1 {
  margin-bottom: -.7em;
  margin-top: -.1em;
}

.text p {
  font-size: 1.5em;
}

.text h4 {
  font-size: 1em;
  color: #757575;
}

.text h5 {
  font-size: 1.7em;
  color: #94ACCC;
  margin-bottom: -1em;
  margin-top: -.1em;
}

.text nav h1 {
  margin-bottom: .3em;
}

main img {
margin: 0em 2em 0em 2em;
}

main nav ul {
  padding-top: .5em;
  display: block;
}

main nav li {
  display: inline-block;
  list-style: none;
  padding-right: 2.2em;
}

.img-position {
  text-align: center;
}
.portrait {
  border-radius: 50% 50%;
}

.social {
  height: 5em;
  background-color: #D4D7DA;
  padding-bottom: 3em;
  margin-right: 24%;
  margin-left: 24%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.social li {
  float: left;
  list-style: none;
  /*margin: .5em .3em .5em .3em;*/
  /*padding: .5em .3em .5em .3em;*/
}

footer {
  clear: both;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #92ABCC;
  color: #333333;
}

/* reusable code */

a, .toggle {
  color: #023F8E;
  text-decoration: none;
}
a:hover, .toggle:hover {
  color: #94ACCC;
}

.line {
  margin-bottom: .3em;
  border-bottom: 1px solid grey;
  display: block;
}

pre {
    background: #f3f3f7;
    border: 1px solid #dedee3;
    padding: .5em;
    font-size: 1.2em;
  }


/* dev ideas from J. Ky Marsh */

.debug {
    border: 1px solid violet;
}

ul, ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }


/* Surplus code */

.row {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    float: left;
}

/*hr {
    display: block;
    -webkit-margin-before: 1.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    box-sizing: border-box;
}*/
